.agenda {
	table {
		@include transition(all .35s ease-in-out);

		tr {
			border-bottom: 1px solid $inner-hover;

			&:nth-child(even) {
				background: lighten($inner-hover, 15);
			} // :nth-child(even)
		} // tr

		td, th {
			display: block;
			font-size: 0.85em;
			line-height: 1;
			padding: 8px;
			vertical-align: top;
			width: 100%;

			&:first-child {
				font-family: 'Proximanova Semibold';
			} // :first-child
		} // td, th

		th {
			color: #FFF;
			display: none;
			font-family: 'Proximanova Semibold';
		} // th

		@include susy-breakpoint($tablet, 6) {
			td, th {
				display: inline-block;
				font-size: 1em;
				line-height: 1.5em;

				&:nth-child(1) {
					width: span(2);
				} // :nth-child(1)

				&:nth-child(2) {
					width: span(4 last);
				} // :nth-child(2)
			} // td, th
		} // bp($tablet)

		@include susy-breakpoint($desktop, 12) {
			td, th {
				&:nth-child(1) {
					width: span(3);
				} // :nth-child(1)

				&:nth-child(2) {
					width: span(8 last);
				} // :nth-child(2)
			} // td, th

			td {
				&.no-contents {
					width: span(full);
				} // .no-contents
			} // .td
		} // bp($desktop)
	} // table

	.open {
		margin-bottom: 40px;

		table {
			tr {
				&:first-child {
					background-color: $teal;
					color: #000;
					text-align: left;
				} // :first-child
			} // tr
		} //table
	} // .open

	.breakout {
		.select_tab {
			ul {
				@include display-flex();
				border-bottom: 0;

				a {
					color: #FFF;
				} // a
			} // ul

			li {
				background-color: $teal;
				border-bottom: 1px solid $dTeal;
				font-size: 10px;
				text: {
					align: center;
					transform: uppercase;
				} // text
				line-height: 1;
				margin-bottom: 0;
				width: (100%/4);

				&:hover, &.active {
					background-color: $dTeal;
				} // :hover, .active

				&.active {
					border: 1px solid $dTeal;
					border-bottom: 0;
				} // .active
			} // li

			@include susy-breakpoint(540px) {
				li {
					font-size: 14px;
				} // li
			} // bp(540px)

			@include susy-breakpoint($tablet) {
				li {
					font-size: 1em;
					line-height: 1.5em;
				} // li
			} // bp($tablet)
		} // .select_tab
	} // .breakout

// ToolTip
	.hide-me {
		display: none;

		h4 {
			font-size: 1em;
		} // h4

		p {
			font-size: 14px;
		} // p
	} // .hide-me

	@include susy-breakpoint(960px) {
		.hasTooltip {
			&:after {
				@include opacity(0.45);
				background: {
					image: image-url('tooltip.png', false, false);
					position: center center;
					repeat: no-repeat;
					size: 100%;
				} // background
				content: "";
				display: inline-block;
				width: 12px;
				height: 12px;
				margin: 3px 0 0 10px;
			} // :after
		} // .hasTooltip
	} // bp(960px)
} // .agenda