.programs {
	.top_tab {
		margin-bottom: 30px;
	} // .select_tab

	#hol {
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr, .thead { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr {
			border: 1px solid #ccc; 
		}
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 35%; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 40%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Lab SKU"; }
		td:nth-of-type(2):before { content: "Lab Title"; }
		td:nth-of-type(3):before { content: "Description"; }
		td:nth-of-type(4):before { content: "Lab Family"; }

		@include susy-breakpoint($desktop, 12) {
			table, thead, tbody, th, td, tr, .thead { 
				display: inline-block;
				text-align: left;
				width: 100%;
			}
			
			/* Hide table headers (but not display: none;, for accessibility) */
			thead tr, .thead { 
				position: inherit;
				// top: 0;
				// left: 0;
			}
			
			tr {
				border: none;
				border-bottom: 1px solid $inner-hover;

				&:first-child {
					background-color: $teal;
					color: #FFF;
					text-transform: uppercase;
				} // :first-child

				&:nth-child(even) {
					background: lighten($inner-hover, 15);
				} // :nth-child(even)
			}
			
			td { 
				/* Behave  like a "row" */
				border-bottom: none;
				padding: 10px 0;
			}
			
			td:before, .hide-in-big { 
				display: none;
			}
			
			/*
			Label the data
			*/
			th:nth-of-type(1), td:nth-of-type(1) {
				@include span(2);
				font-family: 'Proximanova Semibold';
				padding-left: 10px;
			}
			th:nth-of-type(2), td:nth-of-type(2) {
				@include span(3);
			}
			th:nth-of-type(3), td:nth-of-type(3) {
				@include span(5);
			}
			th:nth-of-type(4), td:nth-of-type(4) {
				@include span(2 last);
			}
		} // bp($desktop)
	} // #hol

	.program_wrap {
		@include pie-clearfix;
		margin-bottom: 40px;

		h2 {
			font: {
				family: 'Proximanova';
				size: 28px;
				// size: 42px;
			} // font
			margin-bottom: 20px;
		} // h2
		strong {
			color: $dBlue;
		} // strong

		.benefits {
			margin: 40px 0;

			.benefits_group {
				margin-bottom: 50px;

				&:last-child {
					margin-bottom: 0;
				} //:last-child

				h3 {
					color: $blue;
					font: {
						family: 'Proximanova';
						size: 20px;
					} // font
				} // h3

				i {
					float: left;
					font-size: 36px;
					margin-top: -8px;
					padding-right: 15px;
				} // i
			} // .benefits_group
		} // .benefits

		.register_now {
			display: block;
			margin-bottom: 20px;
		} // .register_now

		@include susy-breakpoint($tablet, 6) {
			.benefits {
				@include pie-clearfix;
				margin-bottom: 0;

				.benefits_group {
					@include gallery(3);
				} // .benefits_group
			} // .benefits
		} // bp(6)
	} // .program_wrap

	.special {
		.select_tab {
			ul {
				@include display-flex();
			} // ul

			li {
				font-size: 11px;
				text-align: center;
				line-height: 1;

				&:hover {
					a {
						color: $blue;
					} // a
				} // :hover
			} // li

			@include susy-breakpoint(540px) {
				li {
					font-size: 14px;
				} // li
			} // bp(540px)

			@include susy-breakpoint($tablet) {
				li {
					font-size: 1em;
					line-height: 1.5em;
				} // li
			} // bp($tablet)
		} // .select_tab

		.special_containers {
			padding: 20px 0;

			strong {
				color: $dBlue;
			} // strong

			ul {
				list-style: disc;
				margin-left: 20px;

				li {
					padding: 5px 0;
				} // li

				ul { // 2nd level
					list-style: square;
				} // ul
			} // ul

			h4 {
				font-size: 1.25em;
			} // h4

			p {
				b {
					color: $blue;
				} // b
			} // p

			a {
				color: $blue;
				display: inline-block;
			} // a

			small {
				font-size: 11px;
			} // small

			img {
				@include border-radius(3px);
				@include box-shadow(1px 1px 3px rgba(#000, 0.45));
				max-width: 200px;
				margin-bottom: 15px;
			} // img
		} // .special_containers
	} // .special

	.detail_wrap {
		border-bottom: 1px dashed $inner-hover;
		padding: 30px 0;

		&:last-child {
			border-bottom: 0;
		} // :last-child

		.location_date {
			.country {
				color: $blue;
			} // .country

			.date {
				font-family: 'Proximanova Semibold';
			} // .date
		} // .location_date

		.expert {
			@include border-radius(3px);
			@include box-shadow(0 -2px 2px rgba(#000, .35));
			background: lighten($inner-hover, 15);
			margin-bottom: 30px;
			padding: 10px;

			.expertise {
				font: {
					family: 'Proximanova Light';
					size: 20px;
				} // font
			} // .expertise

			img {
				@include border-radius(50%);
				margin-bottom: 20px;
				width: span(3 of 6);
				max-width: 180px;
			} // img
		} // .expert

		@include susy-breakpoint($tablet, 6) {
			.expert_wrap {
				@include pie-clearfix;
			} // .expert_wrap

			.expert {
				@include gallery(2);
				@include border-radius(0);
				@include box-shadow(none);
				background-color: transparent;
			} // .expert
		} // bp($tablet)
	} // .detail_wrap
} // .programs